$body-font-family: 'TT Interfaces';
$black: #020105;
$primary: #00AF4C;
$error: #EAF8F0;
$light: #F5F5F7;

$icon-size: 22px;
$text-field-border-radius: 12px;

$material-light: (
  'background': #F5F7FA
);
