.menu-wrap {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/images/fon-bg.jpg");
  // background-image: url("../../assets/images/bg.jpg");
  background-size: contain;
  background-position: right center;
}